<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-home"></i>
        <span class="count-numbers"><%= current_utilizador.turmas.count%></span>
        <span class="count-name">Turmas</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-users"></i>
        <span class="count-numbers"><%= current_utilizador.estudantes.count%></span>
        <span class="count-name">Estudantes</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-list"></i>
        <span class="count-numbers"><%= current_utilizador.marcacoes.count%></span>
        <span class="count-name">Marcações</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-close"></i>
        <span class="count-numbers"><%= current_utilizador.marcacao_do_estudantes_na_turma.ausente.count%></span>
        <span class="count-name">Faltas</span>
      </div>
    </div>
  </div>
</div>